html {
	font-family: Arial;
}
body {
	margin: 0px;
}
.grid-container {
	position: relative;
	margin: auto;
	width: 1280px;
	height: 720px;
	background-color: #666;
	box-shadow: 0px 0px 50px -10px rgba(68,68,68,1);
	border-radius: 10px;
}
h1 {
	margin-left: 20px;
	color: White;
}
.panel-functions {
	position: absolute;
	left: 550px;
	top: 500px;
}
ul {
	padding: 0px;
}
li {
	display: inline-block;
	margin: 0px 20px;
	width: 120px;
	height: 120px;
	border-radius: 75px;
	box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.75);
	background-color: #acacac;
	transition-duration: 0.3s;
}
li:active {
	background-color: white;
	transform: translateY(3px);
}
img {
	height: 70px;
	width: 70px;
	margin: 25.5px;
}
#panel {
	position: absolute;
	top: 10px;
	left: 100.84px;
	display: block;
}
#analog-clock {
	position: relative;
	width: 400px;
  	height: 400px;
}
#clock-dial {
	width: 100%;
  	height: 100%;
  	background: #333;
  	border: 15px solid gray;
  	border-radius: 50%;
  	margin: 15px;
	box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.75);
}
#clock-dial-circle {
	position: absolute;
	width: 3%;
	height: 3%;  
	border-radius: 50%;
	background: white;
	top: 48.5%;
	left: 49.1%;
	margin-left:13px;
	margin-top: 5px;
}
.clock-dial-stick {
	position: absolute;
	top: 5%;
	left: 48.5%;
	width: 0.7%;
	height: 7%;
	opacity: 0.5;
	background: lightgray;
	-webkit-transform-origin: 50% 650%;
	margin-left: 20px;
}
#clock-dial-12 {
	-webkit-transform: rotate(0deg);
}
#clock-dial-1 {
	-webkit-transform: rotate(30deg);
}
#clock-dial-2 {
	-webkit-transform: rotate(60deg);
}
#clock-dial-3 {
	-webkit-transform: rotate(90deg);
}
#clock-dial-4 {
	-webkit-transform: rotate(120deg);
}
#clock-dial-5 {
	-webkit-transform: rotate(150deg);
}
#clock-dial-6 {
	-webkit-transform: rotate(180deg);
}
#clock-dial-7 {
	-webkit-transform: rotate(210deg);
}
#clock-dial-8 {
	-webkit-transform: rotate(240deg);
}
#clock-dial-9 {
	-webkit-transform: rotate(270deg);
}
#clock-dial-10 {
	-webkit-transform: rotate(300deg);
}
#clock-dial-11 {
	-webkit-transform: rotate(330deg);
}
#hour-hand {
	position: absolute;
	width: 1.5%;
	height: 25%;
	background: white;
	top: 24%;
	left: 50%;
	-webkit-transform-origin: 50% 110%;
	margin-left: 15px;
}
#min-hand {
	position: absolute;
	width: 1.5%;
	height: 35%;
	background: white;
	top: 12%;
	left: 50%;
	-webkit-transform-origin: 50% 110%;
	margin-left: 15px;
}
#sec-hand {
	position: absolute;
	width: 1%;
	height: 35%;
	background: red;
	top: 12%;
	left: 50%;
	-webkit-transform-origin: 50% 110%;
	margin-left: 13px;
}
/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
#date {
	position: absolute;
	top: 505px;
	left: 135px;
}
#monthDay {
    display: block;
    font-size: 60px;
    color: rgba(0, 0, 0, 1);
}
#year {
    text-align: center;
    display: block;
    text-height: 50%;
    font-size: 36px;
    color: rgba(255, 255, 255, 1);
}
@import url(https://fonts.googleapis.com/css?family=Lato);
#postIt{
	position: absolute;
	left: 601.675px;
	top: 50px;
	border-radius: 10px;
}
.topBar{
	z-index: 1;
	position: absolute;
	width: 550px;
	height: 45px;
	background-color: #f39c12;
	border-radius: 10px;
}
h1{
	margin: 0;
	margin-top: 5px;
	position: absolute;
	left: 10px;
}
.textAria{
	margin-top: 37px;
	position: absolute;
	width: 550px;
	height: 305px;
	padding: 20px 15px 10px 15px;
	background-color: #ffe680;
	box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.75);
	border-radius:  0 0 10px 10px;
	color: black;
	resize: none;
}
.textAria:focus{
	outline: 0;
}
#helpimg {
	width: 50px;
    height: 50px;
	padding: 0px;
	margin: 0;
}
#help {
	position: absolute;
	width: 70px;
    height: 70px;
	bottom: 20px;
	left: 20px;
	padding: 10px;
	border-radius: 50px;
	background-color: #acacac;
	border: none;
	outline: none;
	box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.75);
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
    z-index: 1;
}
#help:active {
  background-color: white;
  transform: translateY(3px);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}